<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Retrofit</title>
  <link rel="stylesheet" href="../styles.css" />
  <link rel="stylesheet" href="iterative.css" />
</head>

<body>
  <div class="iterative-project">
    <a href="../index.html#projects" class="back-link">← Back</a>
    <div class="section-header">
      <h1>Retrofit: Iterative Design</h1>
      <img src="../images/piano.png" alt="Piano Icon" class="section-icon" />
    </div>
    <div class="intro">
      <p>Timeline: April 2025 <br>Skills: Figma, Balsamiq, HTML, CSS <br> Team: Kristen Cai,
        Malin Leven, Austin Williams, Catherine Yu <br>
        Individual Contribution: Home page wireframe, demo videos, home page hi-fi</p>
      <h2>Overview</h2>
      <p>
        Iterative design is a process that creates better products based on
        continuous feedback from users and stakeholders. My team designed an interactive mobile prototype for Retrofit,
        a startup.
        <br><br>
        As the vintage and secondhand market grows, its online
        marketplace has become more overwhelming. Retrofit's solution is
        an AI-curated vintage marketplace, which uses social media
        trends, sales data, and a user's style to personalize a user's
        shopping experience.
      </p>
    </div>
    <br />
    <div class="sketches">
      <h2>Sketching</h2>
      <p>We began with baseline sketches for the application.</p>
      <div class="images">
        <div class="row">
          <img src="../images/iterative/sketches/image1.jpg" width="300" alt="Sketch 1" />
          <img src="../images/iterative/sketches/image3.jpg" width="300" alt="Sketch 3" />
          <img src="../images/iterative/sketches/image4.jpg" width="500" alt="Sketch 4" />
        </div>
        <div class="row">
          <img src="../images/iterative/sketches/image5.jpg" width="500" alt="Sketch 5" />
          <img src="../images/iterative/sketches/image2.png" width="600" alt="Sketch 2" />
        </div>
      </div>
    </div>
    <br />
    <div class="wireframe">
      <h2>Wireframing</h2>
      <p>
        We created mobile application mock-ups from our sketches, reflecting a design that is both convenient and
        user-friendly.
      </p>

      <div class="images">
        <div class="row">
          <img src="../images/iterative/wireframes/image1.png" width="300" alt="Wireframe 1" />
          <img src="../images/iterative/wireframes/image2.png" width="300" alt="Wireframe 2" />
          <img src="../images/iterative/wireframes/image3.png" width="300" alt="Wireframe 3" />
        </div>
      </div>
      <p>
        <a href="https://www.loom.com/share/2150cf0829204ca0a629b7173a45b086">
          Here
        </a>
        is a link to a video detailing the thought process behind the wireframe.
      </p>
    </div>
    <br />
    <div class="hifi">
      <h2>Hi-fi Prototype</h2>
      <p>
        After receiving feedback from a stakeholder, we used Figma to design a hi-fi prototype, making some changes:
      </p>
      <ul>
        <li>Added checkout, search results, and brand specific screens</li>
        <li>Created add to cart and percent match informational popups</li>
        <li>Added private/public distinction to profile page</li>
        <li>Changed grid on home page to sectioned recommendations</li>
      </ul>
      <div class="images">
        <div class="row">
          <img src="../images/iterative/hifi.png" width="300" alt="Hi-fi Prototype" />
        </div>
      </div>
      <p>
        <a
          href="https://www.figma.com/proto/4h5LQ2bwtvXP1nEEFD0Cu4/Retrofit?page-id=0%3A1&node-id=13-17&viewport=531%2C29%2C0.3&t=vW3vfLgmXsChKdar-1&scaling=scale-down&content-scaling=fixed&starting-point-node-id=13%3A17">
          Here
        </a>
        is the link to our full interactive Figma prototype, and a video
        <a href="https://www.loom.com/share/b319761c728046be8bb692accd4cca2c?sid=debd48f3-7e92-4088-976b-a32ba2c1299d">
          here
        </a> demonstrating the interface.
      </p>
    </div>
    <br />
    <div class="testing">
      <h2>User Testing</h2>
      <p>
        Users tested our design by searching for an item and
        completing the checkout process.
      </p>
      <ul>
        <li>Users found the interface very intuitive due to its similarity to other shopping interfaces.</li>
        <li>
          Users were able to easily find the correct buttons/interactive components to press to work through the task.
        </li>
        <li>Some users were confused when searching so a next step would be to add a keyboard to the prototype.</li>
        <li>
          Some users didn't like the persistent popup when adding an item to cart, so a next step would be replacing it
          with a banner at the
          top of the app, allowing the user to continue their shopping momentum.
        </li>
      </ul>
    </div>
    <br />
    <div class="conclusion">
      <h2>Conclusion</h2>
      <p>
        Through our iterative design process, we developed an intuitive, user-centric mobile app for Retrofit. By
        incorporating
        user feedback as much as possible, we created an interface that effectively integrates AI-curation into a
        seamless
        browsing and purchasing experience.
      </p>
    </div>
  </div>
</body>

</html>