<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>User Storyboarding</title>
  <link rel="stylesheet" href="../styles.css" />
  <link rel="stylesheet" href="personas.css" />
</head>

<body>
  <div class="personas-project">
    <a href="../index.html#projects" class="back-link">Back</a>
    <div class="section-header">
      <h1>User Storyboarding</h1>
      <img src="../images/piano.png" alt="Piano Icon" class="section-icon" />
    </div>

    <div class="personas-container">
      <div>
        <p>Timeline: March 2025 <br>Skills: Figma <br> </p>
        <h2>Overview</h2>
        <p>
          As users interact with interfaces in everyday life, how can their needs
          and experiences be illustrated?<br /><br />
          I explored real Brown University students' interactions with a dining hall fountain
          drink machine before demonstrating their end‑to‑end experiences through
          personas and storyboarding.
        </p>
      </div>

      <h2>Product Research</h2>
      <div class="prod-research">
        <img src="../images/personas/sketch.jpeg" alt="Annotated Fountain Machine Sketch" />
        <p>
          The interface I researched is a fountain drink machine located in Brown
          University's Andrews Dining Hall.
        </p>
      </div>

      <h2>User Research</h2>
      <div class="user-research-container">
        <p class="interview-summary">
          From observing students using the machine, most users seemed familiar
          with the touchscreen and found their drink selections easily.<br /><br />
          Some users had difficulty navigating the touchscreen if their drink was
          out and spent longer doing so.<br /><br />
          Users who tried to fill their water bottles sometimes had a harder time
          doing so.
        </p>
        <p class="interview-questions">
          I interviewed 3 students about their experience:<br /><br />
          1. How many times a week do you use the drink machine?<br />
          <i>1, 3, 14</i><br>
          2. What are things you like, if any, when using the drink machine?<br />
          <i>Water selection is easy to find</i><br />
          <i>Touchscreen is a familiar interface</i><br />
          <i>Dispense button is intuitive</i><br /><br />
          3. What are frustrations, if any, that you have while using the drink machine?<br />
          <i>Flavor options are hard to find</i><br />
          <i>Can't tell when a subflavor is out</i><br />
          <i>Hard to fill my water bottle</i><br /><br />
          4. Overall, how satisfied are you when using the drink machine? (not at all, a little, somewhat, very)<br />
          <i>A little, somewhat, somewhat</i>
        </p>
      </div>

      <h2>Personas</h2>
      <div class="personas">
        <p class="persona-caption">
          From my user research, I constructed 2 archetypal personas and their
          empathy maps using Figma. Agitated Alice and Drained Devin represent trends I
          observed across all the users I interviewed.
        </p>
        <img src="../images/personas/alice.png" alt="Agitated Alice Persona" />
        <img src="../images/personas/devin.png" alt="Drained Devin Persona" />
      </div>

      <h2>Storyboard</h2>
      <div class="storyboard-container">
        <p>
          My final storyboard depicts Drained Devin's end‑to‑end user experience
          with the fountain drink machine.
        </p>
        <img src="../images/personas/storyboard.jpeg" alt="Storyboard of User Journey" />
      </div>

      <h2>Final Thoughts</h2>
      <div>
        <p>
          Through my user and interface research, I was able to better understand
          the needs and experiences that are important for designers to consider.<br /><br />
          Interestingly enough, on the day I finished this project, Andrews Hall
          installed a new drink machine with a larger dispenser and a more
          responsive touchscreen.
        </p>
      </div>
    </div>
  </div>
</body>

</html>