<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Responsive Redesign</title>
  <link rel="stylesheet" href="../styles.css" />
  <link rel="stylesheet" href="redesign.css" />
</head>

<body>
  <div class="redesign-project">
    <a href="../index.html#projects" class="back-link">Back</a>
    <div class="section-header">
      <h1>Milkcow Cafe: Responsive Redesign</h1>
      <img src="../images/piano.png" alt="Piano Icon" class="section-icon" />
    </div>

    <div class="overview-container">
      <p>Timeline: March 2025 <br>Skills: Figma, HTML, CSS <br> </p>
      <h2>Overview</h2>
      <p>
        Many web pages have usability issues pertaining to design, learnability,
        and accessibility.<br>
        I redesigned the website for Milkcow Café IL.
        While the content is straightforward, it is presented in a way that feels
        cluttered and lacks visual cohesion.
      </p>


      <h2>Usability Problems</h2>
      <div class="mockup-item">
        <a href="https://www.milkcowil.com/" target="_blank" rel="noopener" class="clickable-site">
          <img src="../images/milkcow/original.png" alt="Original Website" />
        </a>
        <div class="mockup-text">
          <p>
            The current home page of Milkcow has a few issues that make it hard for users to navigate: <br><br>
          </p>
          <ul>
            <li>Low color contrast for text and background</li>
            <li>Non‑cohesive background images</li>
            <li>Redundant images and buttons</li>
            <li>Inconsistent image sizing</li>
            <li>Uninformative alt text</li>
          </ul>
          <p><br>
            WebAIM WAVE, an online accessibility tool, reports 23 contrast errors and
            21 alt text errors, corroborating my own findings.
          </p>
        </div>
      </div>

      <h2>Visual Redesign</h2>
      <div class="mockup-item">
        <p class="mockup-text">
          First, I used Figma to create a visual style guide with a more cohesive
          color scheme and font style.
        </p>
        <img src="../images/milkcow/components.png" class="components" alt="Style guide components" />
      </div>

      <div class="mockups">
        <div class="mockup-item">
          <img src="../images/milkcow/computer.png" class="computer" alt="Computer Mockup" />
          <div class="mockup-text">
            <p>Next, I designed a computer mockup.<br><br></p>
            <ul>
              <li>Simplified the original site down to a few sections.</li>
              <li>Removed redundant images/buttons.</li>
              <li>Increased font weight &amp; high‑contrast colors.</li>
              <li>Hover states for buttons &amp; nav bar.</li>
            </ul>
          </div>
        </div>

        <div class="mockup-item">
          <img src="../images/milkcow/tablet.png" class="tablet" alt="Tablet Mockup" />
          <img src="../images/milkcow/phone.png" class="phone" alt="Phone Mockup" />
          <div class="mockup-text">
            <p>To demonstrate responsiveness for smaller screens:<br><br></p>
            <ul>
              <li>Cover text/image switch from horizontal to vertical.</li>
              <li>Image grid collapses on narrow widths.</li>
              <li>Nav bar collapses below a breakpoint.</li>
              <li>Images crop gracefully.</li>
              <li>Most font sizes stay constant.</li>
            </ul>
          </div>
        </div>
      </div>

      <h2>Final Responsive Redesign</h2>
      <div class="mockup-item">
        <a href="https://redesign-virid.vercel.app/" target="_blank" rel="noopener" class="clickable-site">
          <img src="../images/milkcow/final.png" alt="Final Redesigned Website" />
        </a>
        <div class="mockup-text">
          <p>
            My <a href="https://redesign-virid.vercel.app/" class="links">final deployed webpage</a>
            made with HTML and CSS
            addresses the original design, learnability, and accessibility issues.<br><br>

            WebAIM WAVE reports 0 contrast errors and 0 alt text errors on my redesigned page.
            This project demonstrates the importance of web design for diverse users’ experiences.
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>